
.git
.vscode
.vs
.env.production

.env
.history
node_modules
*/node_modules
node_modules
/build

# misc
.DS_Store
.env.local
.env.development
.env.development.local
.env.test.local
.env.production.local
*.pdf

npm-debug.log*
yarn-debug.log*
yarn-error.log*

documentation
tsconfig.tsbuildinfo
~
package-lock.json
bash.exe.stackdump
dist
logs

#vscode
.vs
/.vs

uploads
uploads/thumbnails
uploads/videos
uploads/images
uploads/audio
